<h2>ABOUT</h2>
<p>
    I have an interdisciplinary practice exploring a range of themes, such as the role of the individual within society and the part art can play in imagining alternative futures.
</p>
<p>
    Through collaboration with other artists I ask the question; can art be a driving force for change? And what does it means to be politically motivated as a practicing artist today?
</p>
<p>
    I’m interested in social action groups proposing alternative models to capitalism and the rhetoric used to communicate them. The installations I create function as dystopian spaces, simultaneously the ruins of an old world and the emergence of new ones.
</p>
<p>
    It is this uncomfortable transition from one state of play to another that I attempt to portray - the no mans land between chaos and reconstruction.
</p>

<address>
    <strong>Contact:</strong>   <a href="mailto:lydiaheath.lh@gmail.com">lydiaheath.lh@gmail.com</a><br />
</address>
